version: "3"

services:
  postgresdb:
    build:
      context: ./docker/postgres
      dockerfile: Dockerfile
    environment:
      - POSTGRES_PASSWORD=Bib52211443
    volumes:
    - ./docker/postgres/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
    - "5435:5435"

  baza:
    build:
      context: ./
      dockerfile: Dockerfile
    volumes:
      - ./:/usr/src/baza
    ports:
      - "8080:8080"
    depends_on:
      - postgresdb

  nginx:
    build:
      context: ./docker/nginx
      dockerfile: Dockerfile
    ports:
    - "8888:8888"
    depends_on:
      - baza


